n8n/workflows/notificacao-whatsapp-eventos.json
{
  "name": "Notificacao WhatsApp de Eventos",
  "id": "notificacao-whatsapp-eventos-01",
  "nodes": [
    {
      "id": "exec_trigger",
      "name": "When Executed",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "id": "parse_body",
      "name": "Parsear Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const raw = $input.first().json.body || '{}';\nconst body = typeof raw === 'string' ? JSON.parse(raw) : raw;\nconst evento = body.evento || body.event || 'os.created';\nconst osId = body.os_id || body.idOs || '';\nconst clienteId = body.clientes_id || body.cliente_id || '';\nconst clienteNome = body.cliente_nome || 'Cliente';\nconst telefone = body.telefone || body.numero || '';\nconst status = body.status || '';\nreturn [{json:{evento,osId,clienteId,clienteNome,telefone,status,body}}];"
      }
    },
    {
      "id": "buscar_template",
      "name": "Buscar Template MapOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://jj-ferreiras.com.br/MaposV5/api/v2/notificacoes/template",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": false,
        "options": {
          "response": {
            "responseFormat": "json"
          }
        },
        "qs": {
          "parameters": [
            {
              "name": "evento",
              "value": "={{ $json.evento }}"
            },
            {
              "name": "ativo",
              "value": "1"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kwp8sScLLeF1kDCE",
          "name": "mapos_api"
        }
      }
    },
    {
      "id": "substituir_vars",
      "name": "Substituir Variaveis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const template = $input.first().json.data?.template || '';\nconst ctx = $('Parsear Body').item.json;\nlet msg = template;\nif(!msg){\n    // fallback\n    const map = {\n        'os.created': 'Ola {{cliente_nome}}! Sua OS #{{os_id}} foi criada com sucesso.',\n        'os.finalizada': 'Ola {{cliente_nome}}! Sua OS #{{os_id}} foi finalizada. Agradecemos a preferencia!',\n        'cliente.novo': 'Bem-vindo {{cliente_nome}}! Seu cadastro foi realizado com sucesso.'\n    };\n    msg = map[ctx.evento] || 'Ola {{cliente_nome}}! Atualizacao sobre OS #{{os_id}}.';\n}\nmsg = msg.replace(/{{cliente_nome}}/g, ctx.clienteNome);\nmsg = msg.replace(/{{os_id}}/g, ctx.osId);\nmsg = msg.replace(/{{status}}/g, ctx.status);\nreturn [{json:{numero:ctx.telefone,mensagem:msg,evento:ctx.evento}}];"
      }
    },
    {
      "id": "enviar_whatsapp_notif",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://evolution-go:8091/message/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"number\":\"{{ $json.numero }}\",\"text\":\"{{ $json.mensagem }}\"}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "joJ8NPCSBDuj8bgS",
          "name": "evolution_api"
        }
      }
    },
    {
      "id": "registrar_log_notif",
      "name": "Registrar Log Notificacao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://jj-ferreiras.com.br/MaposV5/api/v2/notificacoes/log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tipo\":\"{{ $json.evento }}\",\"destinatario\":\"{{ $json.numero }}\",\"mensagem\":\"{{ $json.mensagem }}\",\"status\":\"enviado\"}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kwp8sScLLeF1kDCE",
          "name": "mapos_api"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Manaus"
  },
  "connections": {
    "When Executed": {
      "main": [
        [
          {
            "node": "Parsear Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Body": {
      "main": [
        [
          {
            "node": "Buscar Template MapOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Template MapOS": {
      "main": [
        [
          {
            "node": "Substituir Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Substituir Variaveis": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Registrar Log Notificacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "tags": [
    {
      "name": "notificacao"
    },
    {
      "name": "whatsapp"
    }
  ]
}