n8n/workflows/satisfacao-pos-atendimento.json
{
  "name": "Satisfacao Pos-Atendimento (NPS)",
  "id": "satisfacao-pos-atendimento-01",
  "nodes": [
    {
      "id": "cron_nps",
      "name": "Cron Diario 18h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 18
            }
          ]
        }
      }
    },
    {
      "id": "buscar_os_nps",
      "name": "Buscar OS Finalizadas Ontem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://jj-ferreiras.com.br/MaposV5/api/v2/os",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": false,
        "options": {
          "response": {
            "responseFormat": "json"
          },
          "pagination": {
            "paginationCompleteWhen": "entriesReturnedLessThanPageSize"
          }
        },
        "qs": {
          "parameters": [
            {
              "name": "status",
              "value": "Finalizado"
            },
            {
              "name": "data_finalizacao_de",
              "value": "={{ $today.minus(1, 'days').format('yyyy-MM-dd') }}"
            },
            {
              "name": "data_finalizacao_ate",
              "value": "={{ $today.minus(1, 'days').format('yyyy-MM-dd') }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kwp8sScLLeF1kDCE",
          "name": "mapos_api"
        }
      }
    },
    {
      "id": "split_nps",
      "name": "Split OS",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        650,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "formatar_nps",
      "name": "Formatar Pesquisa NPS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const os = $input.first().json;\nconst numero = os.cliente_telefone || os.telefone || '';\nconst cliente = os.cliente_nome || 'Cliente';\nconst osId = os.idOs || os.os_id || '';\nconst msg = 'Ola ' + cliente + '!\\n\\nA sua OS #' + osId + ' foi finalizada.\\n\\nComo foi seu atendimento?\\nResponda de 0 a 10:\\n0 = Muito insatisfeito\\n10 = Muito satisfeito\\n\\nSua opiniao nos ajuda a melhorar!' ;\nreturn [{json:{numero,mensagem:msg,os_id:osId,cliente}}];"
      }
    },
    {
      "id": "enviar_nps",
      "name": "Enviar WhatsApp NPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://evolution-go:8091/message/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"number\":\"{{ $json.numero }}\",\"text\":\"{{ $json.mensagem }}\"}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "joJ8NPCSBDuj8bgS",
          "name": "evolution_api"
        }
      }
    },
    {
      "id": "registrar_nps",
      "name": "Registrar Envio NPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://jj-ferreiras.com.br/MaposV5/api/v2/notificacoes/log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"tipo\":\"nps_enviado\",\"destinatario\":\"{{ $json.numero }}\",\"os_id\":\"{{ $json.os_id }}\",\"mensagem\":\"{{ $json.mensagem }}\",\"status\":\"enviado\"}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Kwp8sScLLeF1kDCE",
          "name": "mapos_api"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Manaus"
  },
  "connections": {
    "Cron Diario 18h": {
      "main": [
        [
          {
            "node": "Buscar OS Finalizadas Ontem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar OS Finalizadas Ontem": {
      "main": [
        [
          {
            "node": "Split OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split OS": {
      "main": [
        [
          {
            "node": "Formatar Pesquisa NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Pesquisa NPS": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp NPS": {
      "main": [
        [
          {
            "node": "Registrar Envio NPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "tags": [
    {
      "name": "nps"
    },
    {
      "name": "satisfacao"
    }
  ]
}